.Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0,0,0, 0.3);
    color: white;
    font-size: 40px;
}