
.imgMain{
    height: 250px;
}

.titleSize{
    font-size: 15px;
    color: black;
}

.priceTag{
    font-size: 15px;
    font-weight: lighter;
    margin-top: -20px;
    color: black;
    
}

.prodData{
    margin-left: 10px;
}  

.eachProd {
    
}